*{
    box-sizing: border-box;
}
header, footer {
    height: 100px;
    border: 1px solid black;
}

.rowtwo {
    height: 400px;
    width: 100%;
}
.rowtwosec1 {
    height: 400px;
    width: 40%;
    border: 1px solid black;
    float: left;
}
.rowtwosec2 {
    height: 400px;
    width: 20%;
    border: 1px solid black;
    float: left;
}